body {
    overflow-x: hidden;
}

main {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.viewer {
    display: flex;
    justify-content: center;
    flex-flow: column;

    width: 70%;
}

.topbar, .center-view, .bottombar {
    width: 100%;
}

.topbar, .bottombar {
    z-index: 1;
}

.topbar {
    height: fit-content;
    background-color: var(--darkerer-gray);
}

.center-view {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 75%;
    background-color: var(--darker-gray);
    z-index: 0;
}

.center-view img {
    width: 80%;
    height: 100%;
    object-fit: contain;

    padding: 20px;
    background-color: var(--darkest-gray);
}

.bottombar {
    height: 15%;
    background-color: var(--darkerer-gray);
    height: fit-content;

    display: flex;
    justify-content: space-between;
}

.button-container, .special {
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;

    margin: 10px;
}

.special select {
    margin-left: 20px;
    margin-bottom: 7.5px;
}

.infobox {
    width: 50%;
    height: 100%;
}

.infobox p {
    margin: 10px;
    font-size: 0.8rem;
}

.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 20px;
    user-select: none;
}

label {
    cursor: pointer;
}

h3 {
    margin: 10px;
}